/*colors and fonts*/
body{
 background-color: black;
 color: darkgray;
 font-family: Helvetica;
 font-size: 17px;
}


h1, h2 {
 font-family:"Hind Siliguri", sans-serif;}
 
h1 {
  color: rgb(249, 177, 4);	
  font-weight: 800;
  font-style: normal;
}
h2 {
 color: whitesmoke;
 font-size: 24px;
 font-weight: 600;
}
a {
	text-decoration: none;
	color: whitesmoke;
}
a:hover{
	color: #111827;
}

div {
background: rgb(17,24,39);
border: 2px solid #816912;
margin: 8px;
}

/*custom design with class */

.container {
  width: 900px;
  margin: 40px auto;
}

.card-white {
  background-color: #111827;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1.0);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: #111827;
  color: whitesmoke;
}
.btn-blue:hover {
  background-color: whitesmoke;
  color: #111827;
}
.list-line {
  list-style: none;
  padding-left: 0px;
}
.list-line li {
  display: inline;
  padding: 10px;
}
.list-line i {
  font-size: 50px;
  color: black;
}
.list-line li:hover {
  color: #111827;
}
/*Design ajdustments using id (1%)*/
# introduction p {
  margin-bottom: 40px;
}
